@tailwind base;
@tailwind components;
@tailwind utilities;

/* Force generation of sports brand colors */
.bg-sports-blue { background-color: #0236F2; }
.bg-sports-blue-75 { background-color: #5467AB; }
.bg-sports-blue-35 { background-color: #AFB3D9; }

.text-sports-blue { color: #0236F2; }
.text-sports-red { color: #C50212; }
.text-sports-black { color: #222221; }

.accent-sports-blue { accent-color: #0236F2; }
