@tailwind base;
@tailwind components;
@tailwind utilities;

/* Force generation of sports colors */
.bg-sports-blue { background-color: #0236F2; }
.bg-sports-blue-75 { background-color: #5467AB; }
.bg-sports-blue-35 { background-color: #AFB3D9; }

.bg-sports-red { background-color: #C50212; }
.bg-sports-red-75 { background-color: #CC5441; }
.bg-sports-red-35 { background-color: #E8B09E; }

.bg-sports-black { background-color: #222221; }
.bg-sports-black-75 { background-color: #585657; }
.bg-sports-black-35 { background-color: #B1B1B1; }

.text-sports-blue { color: #0236F2; }
.text-sports-red { color: #C50212; }
.text-sports-black { color: #222221; }
